[Unit]
Description=Shortlinks API and Webserver
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=vvill
WorkingDirectory=/var/www/shortlinks/
ExecStartPre=/home/vvill/.bun/bin/bun i
ExecStart=/home/vvill/.bun/bin/bun run index.js
Restart=always

[Install]
WantedBy=multi-user.target
