[Unit]
Description=Shortlinks API and Webserver
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=<USER>
WorkingDirectory=<PATH_TO_THIS_FOLDER>shortlinks/
ExecStartPre=<ABSOLUTE_PATH_TO>bun i
ExecStart=<ABSOLUTE_PATH_TO>bun run index.js
Restart=always

[Install]
WantedBy=multi-user.target
