[Unit]
Description=Shortlinks API and Webserver
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=<USER_THAT_INSTALLED_BUN>
WorkingDirectory=<PATH_TO_THIS_FOLDER>shortlinks/
Environment="SHORTLINKS_PORT=<PORT>"
ExecStartPre=<ABSOLUTE_PATH_TO>bun i
ExecStart=<ABSOLUTE_PATH_TO>bun run index.ts
Restart=always

[Install]
WantedBy=multi-user.target
